{% extends "_layout.html" %}

{% block title %}
Главная страница
{% endblock title %}

{% block content %}

<h1 class="text-center mt-4 mb-4">
    Лучшие исполнители
</h1>

<section class="text-center mb-4">
    <div class="row wow fadeIn">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card shadow-sm">

                <div class="view overlay">
                    <img class="card-img-top"
                        src="https://n1s2.hsmedia.ru/b1/e5/26/b1e526cc56fe565303c60657f53226ae/480x497_0xac120003_2439770871554579299.jpg"
                        alt="">
                    <a href="">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body text-center">
                    <a href="" class="grey-text">
                        <h5>
                            <strong>
                                <a href="" class="
                                text-decoration-none">Джамшут</a>
                                <span class="badge bg-primary rounded-pill bg-danger shadow">NEW</span>
                            </strong>
                        </h5>
                        <h4 class="font-weight-bold blue-text">
                            <strong>9.9/10</strong>
                        </h4>
                    </a>
                </div>

            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card shadow-sm">

                <div class="view overlay">
                    <img class="card-img-top"
                        src="https://n1s2.hsmedia.ru/b1/e5/26/b1e526cc56fe565303c60657f53226ae/480x497_0xac120003_2439770871554579299.jpg"
                        alt="">
                    <a href="">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body text-center">
                    <a href="" class="grey-text">
                        <h5>
                            <strong>
                                <a href="" class="dark-grey-text">Джамшут
                                </a>
                            </strong>
                        </h5>
                        <h4 class="font-weight-bold blue-text">
                            <strong>9.9/10</strong>
                        </h4>
                    </a>
                </div>

            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card shadow-sm">

                <div class="view overlay">
                    <img class="card-img-top"
                        src="https://n1s2.hsmedia.ru/b1/e5/26/b1e526cc56fe565303c60657f53226ae/480x497_0xac120003_2439770871554579299.jpg"
                        alt="">
                    <a href="">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body text-center">
                    <a href="" class="grey-text">
                        <h5>
                            <strong>
                                <a href="" class="dark-grey-text">Джамшут
                                    <span class="badge badge-pill danger-color">NEW</span>
                                </a>
                            </strong>
                        </h5>
                        <h4 class="font-weight-bold blue-text">
                            <strong>9.9/10</strong>
                        </h4>
                    </a>
                </div>

            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card shadow-sm">

                <div class="view overlay">
                    <img class="card-img-top"
                        src="https://n1s2.hsmedia.ru/b1/e5/26/b1e526cc56fe565303c60657f53226ae/480x497_0xac120003_2439770871554579299.jpg"
                        alt="">
                    <a href="">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body text-center">
                    <a href="" class="grey-text">
                        <h5>
                            <strong>
                                <a href="" class="dark-grey-text">Джамшут
                                </a>
                            </strong>
                        </h5>
                        <h4 class="font-weight-bold blue-text">
                            <strong>9.9/10</strong>
                        </h4>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

<h1 class="text-center mt-4 mb-4">
    Новые отзывы
</h1>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">

            <div class="card mb-2">
                <div class="row row-light">
                    <div class="col-md-3">
                        <img src="https://n1s2.hsmedia.ru/b1/e5/26/b1e526cc56fe565303c60657f53226ae/480x497_0xac120003_2439770871554579299.jpg"
                            alt="" class="d-block w-50">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Джамшут</h5>
                            <div class="card-text text-truncate">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptatibus ea
                                officiis molestias facere assumenda asperiores eaque, suscipit aperiam nesciunt et
                                quam iure, expedita deserunt dolorem eos accusamus quos nisi!
                            </div>
                            <div class="card-text">
                                <small class="text-muted">
                                    Добавлено заказчиком: 23-12-23
                                </small>
                            </div>
                            <div class="card-text">
                                <small class="text-muted">
                                    #отделка-стен
                                    #сантехника
                                    #ремонт-окон
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item active">

            <div class="card mb-2">
                <div class="row row-light">
                    <div class="col-md-3">
                        <img src="https://n1s2.hsmedia.ru/b1/e5/26/b1e526cc56fe565303c60657f53226ae/480x497_0xac120003_2439770871554579299.jpg"
                            alt="" class="d-block w-50">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Джамшут</h5>
                            <div class="card-text text-truncate">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptatibus ea
                                officiis molestias facere assumenda asperiores eaque, suscipit aperiam nesciunt et
                                quam iure, expedita deserunt dolorem eos accusamus quos nisi!
                            </div>
                            <div class="card-text">
                                <small class="text-muted">
                                    Добавлено заказчиком: 23-12-23
                                </small>
                            </div>
                            <div class="card-text">
                                <small class="text-muted">
                                    #отделка-стен
                                    #сантехника
                                    #ремонт-окон
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item active">

            <div class="card mb-2">
                <div class="row row-light">
                    <div class="col-md-3">
                        <img src="https://n1s2.hsmedia.ru/b1/e5/26/b1e526cc56fe565303c60657f53226ae/480x497_0xac120003_2439770871554579299.jpg"
                            alt="" class="d-block w-50">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Джамшут</h5>
                            <div class="card-text text-truncate">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptatibus ea
                                officiis molestias facere assumenda asperiores eaque, suscipit aperiam nesciunt et
                                quam iure, expedita deserunt dolorem eos accusamus quos nisi!
                            </div>
                            <div class="card-text">
                                <small class="text-muted">
                                    Добавлено заказчиком: 23-12-23
                                </small>
                            </div>
                            <div class="card-text">
                                <small class="text-muted">
                                    #отделка-стен
                                    #сантехника
                                    #ремонт-окон
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<h1 class="text-center mt-4 mb-4">
    Новые заказы
</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, libero. Iure ex dignissimos molestias nam nulla
    dolore enim ipsam, et itaque quod maxime modi blanditiis incidunt vero impedit! Deleniti, debitis?</p>
<p>Laboriosam eligendi aut sequi dolor, officia ducimus possimus perspiciatis corporis, labore pariatur, incidunt
    tempore architecto. Optio totam amet vel autem iusto culpa blanditiis eius soluta. Cumque in consequuntur facilis
    omnis?</p>
<p>Esse dolores ducimus enim? Tempora dignissimos necessitatibus suscipit aliquam qui placeat sapiente id sed, ut fuga
    iste, illum iure aperiam vitae error temporibus eligendi rem, veniam laborum. Deleniti, fuga nulla?</p>
{% endblock content %}