{% extends "_layout.html" %}

{% block title %}
Разместить объявление о поиске исполнителя
{% endblock title %}

{% block content %}

<h6 class="mt-4">Шаг 1: Подпишитесь на нашего Телеграм-бота</h6>

<p>
    Подпишитесь на нашего бота Телеграм-бота, чтобы получать сообщения, если с вами захочет связаться исполнитель. <a
        href="#" class="alert-link">Ссылка на бота >></a>
</p>

<p>
    Бот отправит код авторизации, после которого вы сможете подать заявку.
</p>

<div class="text-center mb-5">
    <input type="text" name="validation-code" id="validation-code" class="form-control w-25 m-auto text-center"
        placeholder="Введите код">
    </textarea>
</div>

<h6>Шаг 2: Максимально опишите ваши пожелания.</h6>

<form action="#" class="mt-3">
    <div class="mb-3">
        <label for="job-description" class="form-label mb-2">Описание работы:</label>
        <textarea name="desc" id="job-description" cols="30" rows="10" class="form-control"
            placeholder="Чтобы подать заявку выполните первый шаг." <!--disabled--></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

{% endblock content %}