{% extends "_layout.html" %}

{% block title %}
Поиск заказов
{% endblock title %}

{% block content %}


<p>Список заказов</p>
{% if orders %}
{% for order in orders %}
<p>
    {{ order.date}} <br>
    {{ order.order_description }}
</p>
{% endfor %}
{% else %}
<p>
    Никто еще не подавал объявлений, но скоро это изменится.<br>
    Будьте первыми, кто узнает об этом!<br>
    Подпишитесь на нашего бота и как только новое объявление будет подано вы сразу
    об этом узнаете!
</p>
{% endif %}
{# Комментарий к коду #}
{% endblock content %}