<nav class="navbar navbar-expand-sm navbar-dark bg-success mb-3">
    <div class="container">
        <a href="/" class="me-0 navbar-brand">Хочу ремонт!<sup class="text-light">beta</sup></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2">
                <li class="nav-item">
                    <a href="/specialists"
                        class="nav-link{% if request.path == '/specialists' %} active{% endif %}">Найти
                        исполнителя</a>
                </li>
                <li class="nav-item">
                    <a href="/orders" class="nav-link{% if request.path == '/orders' %} active{% endif %}">Найти
                        заказы</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2">
                <li class="nav-item">
                    <a href="/orders/new"
                        class="nav-link{% if request.path == '/orders/new' %} active{% endif %}">Оставить
                        заявку на ремонт</a>
                </li>
            </ul>
        </div>
    </div>
</nav>