{% extends "_layout.html" %}

{% block title %}
Поиск исполнителей
{% endblock title %}

{% block content %}

<nav class="navbar navbar-expand-sm navbar-light mb-5">
    <div class="container">
        <span class="navbar-brand">Сортировать по:</span>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#sortNavigator"
            aria-controls="sortNavigator" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="sortNavigator">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">по рейтингу</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">по количеству заказов</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">по специализации</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


тут короче список исполнителей с харакетристиками: скорость/качество/цена/общий рейтинг, количество заказов, ссылка на
отзывы





{% endblock content %}