{% extends "_layout.html" %}

{% block title %}
Найти исполнителя
{% endblock title %}

{% block content %}



<nav class="navbar navbar-expand-sm navbar-light mt-3 mb-5">
    <div class="container">
        <span class="navbar-brand">Сортировать по:</span>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#sortNavigator"
            aria-controls="sortNavigator" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="sortNavigator">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">по рейтингу</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">по количеству заказов</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">по специализации</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<div class="card">
    <div class="row g-0">
        <div class="col-sm-4 col-md-2 p-0"><img src="https://picsum.photos/200/120" alt=""
                style="height: auto; width:auto"></div>
        <div class="col-sm-8 col-md-">
            <div class="card-body d-flex flex-column">
                <h6 class="card-title">Банда Джамшутов</h5>
                    <p class="card-text small lh-1">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fuga, ab.
                    </p>
                    <a href="#" class="btn btn-primary text-wrap lh-1 mt-auto"><span class="small">Запросить
                            контакты</span></a>
            </div>
        </div>
    </div>


</div>





{% endblock content %}